.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  margin: 0;
}

.header__subtitle {
  max-width: 388px;
  width: 100%;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  max-width: 175px;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  justify-content: space-between;
}

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: flex-start;

}

.section-title {
  display: flex;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 890px;
}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
  margin-top: 100px;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  font-size: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  padding: 0;
  position: absolute;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  color: white;
  margin-right: 0;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  margin: 0;
  padding: 60px 0 40px;
  display: flex;
  justify-content: space-between;
  color: white;

}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  width: 228px;
}

.footer__autor {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}